/**
 * @file
 * Display Suite Classic Flyer stylesheet.
 */

.ds-header {
  /* Styles for the "header" region go here */
}

.ds-left {
  /* Styles for the "left" region go here */
  float: left;
  width: 580px;
  margin-left: 5px;
}

.ds-right {
  /* Styles for the "right" region go here */
  float: right;
  width: 300px;
}

.ds-footer {
  /* Styles for the "footer" region go here */
  clear: both;
}
